<div class="columns column is-full is-flex is-flex-wrap-wrap is-vcentered p-0 is-justify-content-center" id="commentDiv">
    <div class="column is-3 has-text-centered has-text-black has-background-grey-lighter my-0">
      <p>{{name}}</p>
    </div>
    <div class="column is-9 has-text-black has-background-white-ter">
      <p>{{description}}</p>
    </div>
</div>