<div class="columns is-flex is-flex-wrap-wrap is-vcentered">
  <div class="column is-2 has-text-centered has-text-black is-">
    <p></p>
  </div>
  <div class="column is-9 has-text-black">
    <p></p>
  </div>
</div>