<div class="card column is-2 m-2 has-text-centered">
  <header class="card-header">
    <a class="card-header-title is-justify-content-center" href="/itinerary/{{id}}">
      {{title}}
    </a>
  </header>
    <span class="has-text-centered">{{format_date startDate}} - {{format_date endDate}}</span>
</div>