<div class="columns is-flex is-flex-wrap-wrap">
  <div class="column is-full has-text-centered">
    <p class="is-size-2 has-text-black">{{title}}</p>
  </div>
  <div class="column is-full has-text-centered">
    <p class="is-size-4 has-text-black">{{description}}</p>
  </div>
  {{#each comments as |comment|}}
  {{> comment-details}}
  {{/each}}
</div>