<div class="columns is-flex is-flex-wrap-wrap">
  <div class="column is-full has-text-centered">
    <p class="is-size-2 has-text-black">{{title}}</p>
  </div>
  <div class="column is-full has-text-centered">
    <p class="is-size-4 has-text-black">{{description}}</p>
  </div>
  {{#each comments as |comment|}}
  {{> comment-details}}
  {{/each}}
  <div id="commentDiv" class="column is-full has-text-centered is-justify-content-center">
    <button id="commentBtn" class="button is-info is-light">Add Comment</button>
  </div>
</div>
  <script src="/js/itinerary.js"></script>