body {
    margin: 0% 2%;
    background: #00bfff;
  }

  body {
    display: flex;
    flex-direction: column;

}
.createForm {
    font-size: larger; 
}

.itinForm {
    color: black;
    margin-left: 15px;
}

.username {
    font-size: 30px;
    color: black;
    margin-left: 10px;
}

.name{
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 400px;
}
.desc{
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 400px;
    height: 80px;
}

.btn-primary{
    color: blue;
    background-color: black;
}

.create-btn {
    margin-top: 50px;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-top: 500px;
}

.columns {
    display: flex;
}

.login {
    margin-top: 50px;
    font-size: large;
}

.signup {
    margin-top: 50px;
    margin-left: 100px;
    padding: 50px;
}

.email {
    padding: 10px;
    font-size: larger;
}

.password {
    padding: 10px;
    font-size: larger;
}

.loginbtn {
    padding: 10px;
}

.username {
    padding: 10px;
    font-size: larger;
}

.email-sign {
    padding: 10px;
    font-size: larger;
}

.password-signup {
    padding: 10px;
    font-size: larger;
}

.signup-btn {
    padding: 10px;
    width: 500px;
}

.signup {
    margin-left: 100px;
    width: 50px;
}

.login {
    margin-left: 100px;
    width: 50px;
}

.login-head {
    font-size: xx-large;
    text-decoration: underline;
}

.signup-head {
    font-size: xx-large;
    text-decoration: underline;
}
  